<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'list' %}" method="GET">
        <label>
            <p>Input numbers separated by commas:</p>
            <input type="text" name="numbers">
        </label>
        <button>Submit</button>
    </form>

    {% if result is not None %}
        <p>{{result}}</p>
    {% endif %}
</body>
</html>