<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'logic' %}" method="GET">
        <label>
            <p>Number 1:</p>
            <input type="text" name="numberone">
        </label>

        <label>
            <p>Number 2:</p>
            <input type="text" name="numbertwo">
        </label>

        <label>
            <p>Number 3:</p>
            <input type="text" name="numberthree">
        </label>

        <button>Submit</button>
    </form>

    {% if result is not None %}
        <p>{{result}}</p>
    {% endif %}
</body>
</html>