<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{% url 'order' %}" method="GET">
        <label>
            <p>Burger Total ($4.50):</p>
            <input type="text" name="burger">
        </label>

        <label>
            <p>Fry Total ($1.50):</p>
            <input type="text" name="fries">
        </label>

        <label>
            <p>Drink Total ($1.00):</p>
            <input type="text" name="drink">
        </label>

        <button>Place Order</button>
    </form>

    {% if burger is not None %}
        <p>Your total is ${{totalCost|floatformat:2}} </p>
    {% endif %}
    
</body>
</html>